<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Movie</title>
</head>
<body>
    <h1>Edit Movie</h1>
    <form action="/movies/edit/{{movie.movieId}}" method="post">
        <input type="text" name="title" value="${movie.title}" required/>
        <input type="text" name="genre" value="${movie.genre}" required/>
        <input type="date" name="releaseDate" value="${movie.releaseDate}" required/>
        <button type="submit">Update Movie</button>
    </form>
    <a href="/movies">Back to Movie List</a>
</body>
</html>
