<!-- src/main/resources/templates/movies/list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
</head>
<body>
    <h1>Movie List</h1>
    <a href="/movies/create">Add Movie</a>
    <ul>
        <th:block th:each="movie : ${movies}">
            <li>
                <span th:text="${movie.title}"></span> |
                <a th:href="@{'/movies/edit/' + ${movie.movieId}}">Edit</a> |
                <a th:href="@{'/movies/delete/' + ${movie.movieId}}">Delete</a>
            </li>
        </th:block>
    </ul>
</body>
</html>
